{
    "folders": [
        {
            "uri": "vscode-remote://{{ dev_hostname }}:{{ dev_server_port }}/?folder=/home/{{ username }}/ansible/"
        },
        {
            "uri": "vscode-remote://{{ dev_hostname }}:{{ dev_server_port }}/{{ custom-code-workspace-folder-2 }}"
        },
    ],
    "remoteAuthority": "{{ dev_hostname }}:{{ dev_server_port }}",
    "settings": {}
}